[submodule "Velocity/vendor/spdlog"]
	path = Velocity/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Velocity/vendor/GLFW"]
	path = Velocity/vendor/GLFW
	url = https://github.com/MGrime/glfw
[submodule "Velocity/vendor/glm"]
	path = Velocity/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Velocity/vendor/imgui"]
	path = Velocity/vendor/imgui
	url = https://github.com/mgrime/imgui
	branch = docking
[submodule "Velocity/vendor/entt"]
	path = Velocity/vendor/entt
	url = https://github.com/skypjack/entt
[submodule "Velocity/Vendor/imgui"]
	branch = docking
[submodule "Velocity/vendor/ImGuizmo"]
	path = Velocity/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "Velocity/vendor/cereal"]
	path = Velocity/vendor/cereal
	url = https://github.com/USCiLab/cereal
[submodule "Velocity/vendor/zstr"]
	path = Velocity/vendor/zstr
	url = https://github.com/mateidavid/zstr
